* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 13;
  letter-spacing: 1.5pt;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

.header {
  padding: 75px;
  padding-top: 90px;
  padding-bottom: 90px;
  max-width: 1000px;
  margin: auto;
}

.header .title {
  display: table-cell;
  vertical-align: middle;
  padding-right: 19px;
  font-family: 'Open Sans', sans-serif;
  font-size: 34;
  font-weight: 300;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: center;
}

.header .nav {
  display: table-cell;
  vertical-align: middle;
}

.header .nav a {
  padding: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13;
  font-weight: 400;
  letter-spacing: 1.5px;
  color: black;
  text-decoration: none;
  text-align: center;
  text-transform: lowercase;
}

.header .nav a:hover {
  background-color: #ddd;
  color: black;
}

.gallery {
  padding: 61px;
  padding-top: 0px;
  max-width: 1000px;
  margin: auto;
}

.gallery a {
  text-decoration: none;
  color: black;
}

.gallery .cell {
  float: left;
  width: 33.33%;
  padding: 1.5%;
  padding-top: 0px;
  padding-bottom: 30px;
}

.gallery .image {
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
}

.gallery .image img {
  position: absolute;
  height: 100%;
  left: -12.5%;

  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: 2s ease-in-out;
	transition: 2s ease-in-out;
}

.gallery .image img:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.gallery .title {
  font-size: 12;
  padding-top: 14px;
  text-align: center;
  text-transform: uppercase;
}

.container {
  padding: 75px;
  padding-top: 0px;
  max-width: 1000px;
  margin: auto;
}

.container h1 {
  font-size: 20;
  margin-top: 30px;
}

.container h2 {
  font-size: 13;
}

.container table {
  font-size: 13;
}

.project .title {
  font-size: 20;
  margin-bottom: 15px;
}

.project .text {
  margin-bottom: 30px;
  text-align: justify;
  line-height: 150%;
}

.project .media img {
  width: 100%;
  margin-bottom: 30px;
}

.project .media .ng {
  margin-bottom: 30px;
}

.project .media .video {
  margin-bottom: 30px;
}

.project .media .youtube_container {
  padding: 56.25% 0 0 0;
  position: relative;
  margin-bottom: 30px;
}

.project .media .youtube {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fff;
  background-color: #ffffffe6;
}

#modal_img {
  position: absolute;
  margin: auto;
  max-width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.form_container {
  margin: auto;
}

.form_container div {
  padding-bottom: 4px;
}

.form_container input {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.form_container textarea {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  resize: none;
}

.form_container .button {
  background: white;
  border-style: none;

  padding: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13;
  font-weight: 400;
  letter-spacing: 1.5px;
  color: black;
  text-decoration: none;
  text-align: center;
  text-transform: lowercase;
}

.form_container .button:hover {
  background-color: #ddd;
  color: black;
}

@media screen and (max-width:950px) {
  .gallery .cell {
    width: 50%;
  }

	.header .nav {
	  display: block;
	  vertical-align: middle;
	  padding-top: 5px;
	}

	.header .nav a {
    padding: 0px;
    padding-right: 15px;
  }

	.header .nav a:hover {
	  background-color: #fff;
	}

	.header {
	  padding-top: 70px;
	  padding-bottom: 70px;
	}
}

@media screen and (max-width:650px) {
  .gallery .cell {
    width: 100%;
  }

  .header .nav a {
    padding: 5px;
    display: block;
  }

  .gallery {
    padding: 5%;
    padding-top: 0;
  }

  .container {
    padding: 5%;
    padding-top: 0;
  }

  .header {
	  padding-top: 40px;
	  padding-bottom: 40px;
	}

	.header .title {
	  display: block;
	  padding-right: 0px;
	}
}
